$color-primary: #FD2D01;
$color-secondary: #FFD7D7;
$color-tertiary: #4E5166;

// ----------------------------------- LOGO
.header-logo{
      background-color: $color-tertiary;
      padding: 15px 0px 15px 0px;
}
// ----------------------------------- NAVBAR
.nav-justified .nav-item .nav-link {
  background-color: lighten($color-secondary, 5%);
  color: black;
  border-color: $color-secondary;
}
.nav-tabs{
  .nav-link.active, .nav-item.show .nav-link{
    background-color: $color-secondary;
    color: $color-tertiary;
    font-weight: bold;
  }
}
.nav-link{
  background-color: lighten($color-secondary, 2%);
}
// ----------------------------------- POSTS CONTENT
.post{
  &-container{
    background-color: $color-secondary;
  }
  &-list{
    &-container{
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
  &-single{
    &-super-container{
      padding:5px;
      height: 400px;
      margin: 5px 0px;
    }
    &-container{
      height: 400px;
    }
    &-text{
      overflow: scroll;
    }
    &-image{
      max-width: 100%;
    }
    &-logo{
      height:24px;
      width:24px;
      margin:0px 5px 0px 5px;
      &:hover{
        cursor:pointer;
      }
    }
  }
}
.card-footer{
  text-align: end;
}
